/* https://tailwindcss.com/blog/standalone-cli
tailwindcss -i index.css -o tailwind/out.css --watch 
*/
@import "tailwindcss";

@theme {
  --font-sans: "Inter Tight", sans-serif;
  --font-monospace: "Source Code Pro", monospace;
}
html {
  font-size: 11pt;
}

.small-caps {
  font-variant: small-caps;
}
.a4 {
  width: 210mm;
  height: 297mm;
}
a {
  color: #0000EE;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  text-decoration-color: #0000EE;
}